.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.title {
  font-size: 3rem;
  color: yellow;
}

@media screen and (max-width: 768px) {
  .title {
    width: 350px;
  }
}
