.container {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2.3rem;
  color: yellow;
}

@media screen and (max-width: 768px) {
  .title {
    width: 350px;
  }
}
