.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.title {
  font-size: 3rem;
  color: yellow;
  overflow: wrap;
  word-break: keep-all;
  flex-basis: 350px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 2.5rem;
  }
}
