.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form {
  display: flex;
  width: 60%;
}

.input {
  width: 80%;
  height: 50px;
  border-color: transparent;
  background-color: #232934;
  border-radius: 6px;
  font-size: 1rem;
  color: white;
}

.input:focus,
.input.invalid:focus {
  border: 2px solid #63c6ff;
  outline: none;
  background-color: #1b1e25;
}

.input.invalid {
  border: 2px solid red;
  background-color: #ff0a0a1e;
}

.button {
  font: inherit;
  height: 50px;
  width: 5rem;
  margin-left: 1.5rem;
  border: 1px solid transparent;
  color: black;
  background: #a8dcfa;
  cursor: pointer;
  border-radius: 6px;
  font-size: 1.5rem;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #7eccf9;
  border-color: transparent;
  color: black;
}

.button:disabled {
  background: #626262;
}
.button:active {
  background: #3b3b3b;
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0 20%;
  }

  .input {
    height: 45px;
    font-size: 1rem;
  }

  .input::placeholder {
    font-size: 0.8rem;
  }

  .button {
    height: 45px;
    font-size: 0rem;
  }
}
