.container {
  flex: 2;
  white-space: pre-line;
  height: 100vh;
}

.title {
  font-size: 2rem;
  color: white;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .container {
    flex: 1;
  }

  .title {
    font-size: 2rem;
    margin-top: 5%;
    margin-bottom: 2%;
  }
}
