.checkboxAndText label {
  margin-right: 10px;
}

.checkboxAndText > div {
  display: flex;
  align-items: center;
  width: fit-content;
}

.deleteIcon,
.submitIcon,
.cancelIcon,
.editIcon {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
}

input[type="checkbox"] {
  display: none;
}

.checkboxLabel div {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 3px solid transparent;
  border-radius: 50%;
  cursor: pointer;
}

.checkboxLabel input[type="checkbox"]:checked + div {
  background-color: #a8dcfa;
}

.text.checked {
  color: rgb(107, 107, 107);
}

input.text {
  padding: 0;
  border: 0 none;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  width: 100%;
  color: #1a202c;
  word-break: keep-all;
  overflow-wrap: anywhere;
}

.checkIcon {
  width: 0%;
}

input[type="checkbox"]:checked + div .checkIcon {
  transition: 0.2s ease;
  width: 30.2px;
  height: 24px;
}

@media screen and (max-width: 768px) {
  .container {
    margin-bottom: 10px;
    font-size: 1rem;
    padding: 2% 3%;
  }

  .deleteIcon,
  .submitIcon,
  .cancelIcon,
  .editIcon {
    height: 30px;
    width: 30px;
  }

  .editIcon,
  .submitIcon {
    margin-right: 4px;
  }

  input.text {
    font-size: 1.2rem;
  }

  .checkboxLabel div {
    width: 30px;
    height: 30px;
  }
}
