.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
}

.input {
  width: 15rem;
  height: 50px;
  border-color: transparent;
  background-color: #232934;
  border-radius: 6px;
  color: white;
  font-size: 1rem;
}

.input:focus,
.input.invalid:focus {
  border: 2px solid #63c6ff;
  outline: none;
  background-color: #1b1e25;
}

.input.invalid {
  border: 2px solid red;
  background-color: #ff0a0a1e;
}

.button {
  font: inherit;
  height: 50px;
  width: 4rem;
  margin-left: 10px;
  border: 1px solid transparent;
  color: black;
  background: #a8dcfa;
  cursor: pointer;
  border-radius: 6px;
  font-size: 1.2rem;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #7eccf9;
  border-color: transparent;
  color: black;
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0;
  }

  .input {
    width: 10rem;
    height: 45px;
    font-size: 0.8rem;
  }

  .button {
    height: 45px;
    font-size: 1rem;
  }

  .input::placeholder {
    font-size: 0.8rem;
  }
}
