.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 100%;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 1.5rem;
    margin: 0 0;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
  }
}
