.container {
  display: flex;
  margin: 0 15%;
  justify-content: center;
}

.button {
  font: inherit;
  flex: 1;
  height: 65px;
  margin-left: 10px;
  border: 1px solid transparent;
  color: black;
  background: #a8dcfa;
  cursor: pointer;
  border-radius: 6px;
  font-size: 1.5rem;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #7eccf9;
  border-color: transparent;
  color: black;
}

.input {
  flex: 3;
  min-width: 80%;
  height: 65px;
  border-color: transparent;
  background-color: #232934;
  border-radius: 6px;
  color: white;
  font-size: 1.5rem;
}

.input:focus,
.input.invalid:focus {
  border: 2px solid #63c6ff;
  outline: none;
  background-color: #1b1e25;
}

.input.invalid {
  border: 2px solid red;
  background-color: #ff0a0a1e;
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0 20%;
  }

  .input {
    height: 45px;
    font-size: 1.2rem;
  }

  .button {
    height: 45px;
    font-size: 1.2rem;
  }

  .input::placeholder {
    font-size: 1.2rem;
  }
}
