.container {
  width: 100%;
  color: white;
  font-size: 1.5rem;
  border: 1px solid #232934;
  border-radius: 7px;
  background-color: #232934;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2% 4%;
}

.editBtnAndDeleteBtn {
  display: flex;
  flex-direction: row;
}

.checkboxAndText {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkboxAndText label {
  margin-right: 10px;
}

.checkboxAndText div {
  display: flex;
  align-items: center;
}

.delteIcon, .submitIcon, .cancelIcon, .editIcon {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}

input[type="checkbox"] {
  display: none;
}

label div {
  
  width: 35px;
  height: 35px;
  background-color: #1a202c;
  border: 3px solid rgb(73, 220, 73);
  border-radius: 50%;
  cursor: pointer;
}

input[type="checkbox"]:checked +div {
  background-color: rgb(73, 220, 73);
}

.text {
  margin: 0;
  overflow-wrap: break-word;
  word-break: keep-all;
}

.text.checked {
  color: rgb(107, 107, 107);
}

.text input {
  border: 0 none;
  background-color: transparent;
  height: 35px;
  color: white;
  font-size: 1.5rem;
}

.checkIcon {
  width: 0%;
}

input[type="checkbox"]:checked +div .checkIcon{
  transition: 0.2s ease;
  width: 30.2px;
  height: 24px;
}


@media screen and (max-width: 768px) {
  .container {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
}