.container {
  flex: 6;
  white-space: pre-line;
  border-left: 2px solid rgb(225, 224, 224);
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 2.3rem;
  color: white;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .container {
    border-left: none;
  }
}