.container {
  flex: 6;
  white-space: pre-line;
  border-left: 2px solid rgb(225, 224, 224);
  justify-content: center;
}

.bar {
  /* position: fixed; */
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 3rem;
  color: white;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 2.5rem;
    width: 350px;
  }

  .container {
    flex: 1;
    border-top: 2px solid rgb(225, 224, 224);
    border-left: none;
  }
}