body,
html {
  height: 100vh;
  margin: 0;
  background-color: #1a202c;
}

input {
  min-width: 0;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  font-family: "SUIT Variable";
}
